body {
  margin: 0;
  background-color: #0d1a2d;
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



h1.styled{
  color: red;
  text-transform: uppercase;
}




.carsTable{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 20px auto;
  box-shadow:0 0 2px #0a3d62,0 0 30px #0a3d62,5px 9px 5px #333, 0 0 150px #0a3d62;color:#0a3d62;
 color: #fff;
 
}

.carsTable td{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #273c75;
  
}


.carsTable td, .carsTable th {
  border: 1px solid #0a3d62;
  padding: 8px;
  width: 33%;
  text-align: center;
  

}
.carsTable tr{
  background-color: #0a3d62;
  
}



.carsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  
  background-color: rgb((24), 99, 160);
  
}